<div class="navbar-wagon">
  <!-- <div>
    <img class="navbar-avatar" src="https://picsum.photos/200" alt="">
  </div> -->
  <div class="navigation-links">
    <%= "About Me" %>
    <%= "Blog" %>
    <%= "Contact" %>
  </div>
</div>

