<div class="home-first-page">
  <div class="home-information">
      <p style="font-style: italic;"> Hey, I'm
      </p>
      <p class="home-title">
        ~ Pascal Mies ~
     </p>
  </div>
  <div class="arrow-container">
  <div class="arrow bounce"><i class="fa fa-angle-down fa-3x" aria-hidden="true"></i></div>
</div>
<div class="below"></div>
</div>
<div class="home-second-page">
  <div class=" second-title title title-center">
    <p> What I have done </p>
  </div>
    <div class="row">
      <div class="resume-card">
        ESCP Europe
      </div>
      <div class="resume-card ">
        Le Wagon
      </div>
      <div class="resume-card ">
        Assistant Project Manager, Korsch AG
      </div>
    </div>
</div>


